div, span{
    border: 2px solid black;
    border-radius: 20px;
}

.cajita1{
    width: 200px;
    height: 150px;
    background-color: aqua;
    margin: 100px 0 100px 100px;
}

.cajita2{
    width: 300px;
    height: 150px;
    background-color: blue;
    margin: 0;
}

