.contenedor1{
    background-color: red;
    width: 100px;
    height: 100px;
}
.contenedor2{
    background-color: green;
    width: 100px;
    height: 100px;
}
.contenedor3{
    background-color: blue;
    width: 100px;
    height: 100px;
}