table, th, td{
    border: 1px solid black;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 10px;
}

th{
    height: 50px;
}

td{
    height: 40px;
    vertical-align: bottom;
}