ul.desordenada{
    list-style-type:georgian;
}

ol.ordenada{
    list-style-image: url(/Primeros_pasos/HTML/favicon/icons8-brujo-2-ios-17-filled-32.png)

}

ul{
    background: red;
}

ol{
    background: green;
    padding: 10px;
    margin:10px
}