/* SINTAXIS:

selector:pseudoclase{
    propiedad:valor
} */

a:link{
    color: aqua;
}

a:visited{
    color: blueviolet;
}

a:hover{
    background-color: brown;
}

a:active{
    color: blue;
}